<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Legislature Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

  <!-- Used to help in aid a similar environment to MinnPost site -->
  <link type="text/css" rel="stylesheet" media="all" href="http://www.minnpost.com/sites/default/files/css/css_cc2732a55db9703697ac738883d915c9.css" />
<link type="text/css" rel="stylesheet" media="screen" href="http://www.minnpost.com/sites/default/files/css/css_b26ad2d81bc74f1246e9c9a4c45ecdea.css" />
<link type="text/css" rel="stylesheet" media="print" href="http://www.minnpost.com/sites/default/files/css/css_cd72d16d00ebb27825710d934e28fbe8.css" />
  <!--[if IE]>
    <link rel="stylesheet" href="http://www.minnpost.com/sites/default/themes/derma/inc/css/ie.css?n" type="text/css">
  <![endif]-->
</head>

<body class="not-front logged-in page-node node-type-article one-sidebar sidebar-right admin-nw admin-vertical admin-df  section-data section-data-id-2012 section-data-id-2012-id-05 section-data-id-2012-id-05-how-we-built-legislative-bill-explorer one-sidebar sidebar-right">

  <!-- Used to help better standardize styles in MinnPost site -->
  <div class="node-body fieldlayout node-field-body">
    
    <!-- Example specific CSS -->
    <style type="text/css">
      #minnpost-example-container {
        max-width: 960px;
        margin: 0 auto;
      }
      
      .footnote {
        font-size: .75em;
        font-style: italic;
        color: #414141;
        margin-top: 3em;
        border-top: 1px solid #BCBCBC;
        padding-top: 1em;
      }
    </style>

    <!-- Application CSS -->
    <style type="text/css">
      @import url('./css/style.css');
    </style>
    <!--[if lte IE 8]>
      <style type="text/css">
        @import url('./css/style.ie.css');
      </style>
    <![endif]-->
    
    
    <!-- Example HTML -->
    <div id="minnpost-example-container">
      <noscript>
        <p>This application requires Javascript which is used to make your web browser more interactive.  If this message does not go away, please consider enabling Javascript.  Here are <a href="http://www.enable-javascript.com/" target="_blank">instructions on how to enable JavaScript in your web browser</a>.</p>
      </noscript>
      
      <!--[if lte IE 7]>
        <div class="ie-upgrade-note">
          <h4>Consider upgrading your browser</h4>
          <p>Your <strong>Internet Browser</strong> is the application you use to navigate webpages on the internet.  You are currently using an older version of Internet Explorer.  This application may not be full-featured because you are using such an old browser.</p>
          
          <p><a href="http://browsehappy.com/" target="_blank">Click here to find out about upgrading to a newer browsers</a>.</p>
        
          <p>If you cannot install new applications on your computer (because it is not allowed at work, for example), consider using <a href="http://www.google.com/chromeframe" target="_blank">Google's Chrome Frame</a> for Internet Explorer.</p>
        </div>
      <![endif]-->
      
      <!-- Application HTML -->
      <div id="legislature-tracker-container">
      </div>
      
      <div class="footnote">
        <p>Data provided by <a href="" target="_blank"></a>.</p>
      </div>
    </div>
    
    
    <!-- Templates to be used in client side processing. -->
    <script id="template-loading" type="text/template">
      <div class="loading-general-container">
        <div class="loading-general"><span>Loading...</span></div>
      </div>
    </script>
    
    <script id="template-categories" type="text/template">
      <div class="categories-container">
        <ul>
          <% console.log(categories); for (var c in categories) { %>
            <li><a href="#/category/<%= encodeURI(categories[c].name) %>"><%= categories[c].name %></li>
          <% } %>
        </ul>
      </div>
    </script>
        
    
    <!-- Application libraries and JS -->
    <!--[if lte IE 8]>
      <script type="text/javascript" src="./js/libs/es5-shim.v2.0.5.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript" src="./js/libs/jquery.1.8.3.min.js"></script>
    <script type="text/javascript" src="./js/libs/jquery.jsonp-2.4.0.min.js"></script>
    <script type="text/javascript" src="./js/libs/underscore.1.4.3.min.js"></script>
    <script type="text/javascript" src="./js/libs/backbone.0.9.10.min.js"></script>
    <script type="text/javascript" src="./js/libs/tabletop.master-20130121.min.js"></script>
    
    <script type="text/javascript" src="./js/utils.js"></script>
    <script type="text/javascript" src="./js/core.js"></script>
    <script type="text/javascript" src="./js/models.js"></script>
    <script type="text/javascript" src="./js/collections.js"></script>
    <script type="text/javascript" src="./js/views.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>

    
    <script type="text/javascript">
      (function($, w, undefined) {
        var options = {
          el: '#legislature-tracker-container',
          state: 'MN', 
          session: '2013-2014',
          apiKey: '49c5c72c157d4b37892ddb52c63d06be',
          billsSheet: '0AtX8MXQ89fOKdFNaY1Nzc3p6MjJQdll1VEZwSDkzWEE'
        };
        
        var app = new LT.Application(options);
        
      })(jQuery, window);
    </script>
  </div>
  <!-- END: Embeddable -->



</div>
</body>
</html>