
<div class="osbill">
  <h4>
    {{#(!!bill.title)}}
      {{ bill.title }} ({{ bill.bill_id }})
    {{/()}}

    {{^(!!bill.title)}}
      {{ bill.bill_id }}
    {{/()}}
  </h4>
  <div class="sponsors primary-sponsors">
    <h5>Primary sponsors</h5>

    <div class="clear-block">
      {{#bill.sponsors}}
        {{#(type === 'primary')}}
          <div class="sponsor" data-leg-id="{{ leg_id }}" data-sponsor-type="{{ type }}">
            {{ name }} ({{ type }})
          </div>
        {{/()}}
      {{/bill.sponsors}}
    </div>
  </div>

  <div class="actions">
    <h5><span class="latest-action-label">Latest</span> Actions</h5>

    <div class="actions-inner">
      {{#bill.actions}}
        {{#(!!date)}}
          <div>
            {{ date.format('MMM DD, YYYY') }}:
            {{ action }}
            ({{ translate('chamber', actor) }})
          </div>
        {{/())}}
      {{/bill.actions}}
    </div>
  </div>

  {{#(bill.sponsors && bill.sponsors.length && bill.sponsors.length)}}
    <div class="sponsors co-sponsors clear-block">
      <h5>Co-Sponsors</h5>

      <div class="co-sponsors-inner clear-block">
        {{#bill.sponsors}}
          {{#(type !== 'primary')}}
            <div class="sponsor" data-leg-id="{{ leg_id }}" data-sponsor-type="{{ type }}">
              {{ name }} ({{ type }})
            </div>
          {{/()}}
        {{/bill.sponsors}}
      </div>
    </div>
  {{/()}}

  {{#(bill.votes && bill.votes.length && bill.votes.length > 0)}}
    <div class="votes">
      <h5>Votes</h5>

      <div class="votes-inner clear-block">
        {{#bill.votes}}
          {{ date.format('MMM DD, YYYY') }}
          {{ motion }} {{ (passed) ? 'passed' : 'failed' }}
          {{ yes_count }} Y -
          {{ no_count }} N <br />
        {{/bill.votes}}
      </div>
    </div>
  {{/()}}

  <div class="sources">
    <h5>Sources</h5>

    {{#bill.sources}}
      <a href="{{ url }}" target="_blank">
        {{#(!!text)}}
          {{ text }}
        {{/()}}
        {{#(!text)}}
          {{ url }}
        {{/()}}
      </a> <br />
    {{/bill.sources}}
  </div>
</div>
