
{{^categories}}
  {{>loading}}
{{/categories}}

<div class="categories-container">
  <ul class="category-list clear-block">
    {{#categories:i}}
      <li class="category-item category-item-{{ i }}">
        <div class="category-inner category-{{ _.cssClass(id) }}">
          {{#image}}
            <a href="#/category/{{ encodeURI(id) }}">
              <img class="category-image" src="{{ imagePath(image) }}" />
            </a>
          {{/image}}

          <h3>
            <a href="#/category/{{ encodeURI(id) }}">
              {{ title }}
            </a>
          </h3>

          <div>
            Watching <strong>{{ bills.length }}</strong> bills.
          </div>
        </div>
      </li>
    {{/categories}}
  </ul>
</div>