
{{^category}}
  {{>loading}}
{{/category}}

<div class="category-container">
  <h2>
    {{#category.image}}
      <img class="category-image" src="{{ imagePath(category.image) }}" />
    {{/category.image}}

    {{ category.title }}
  </h2>

  <p>{{ category.description }}</p>

  {{#(category.links && category.links.length && category.links.length > 0)}}
    <div class="e-links">
      <h4>In the news</h4>

      <ul class="e-links-list">
        {{#category.links}}
          <li><a href="{{ url }}">{{ title }}</a></li>
        {{/category.links}}
      </ul>
    </div>
  {{/()}}

  <div class="clear-block bills-list">
    {{#category.bills:bill}}
      <ebill bill="{{ this }}" compact="true" imagePath="{{ imagePath }}" options="{{ options }}">
    {{/category.bills}}
  </div>

  <div class="clear-block total-bill">
    Watching
    <strong>{{ category.bills.length }}</strong>
    {{#(typeof category.total_bill_count != 'undefined')}}
      of {{ category.total_bill_count }}
    {{/()}}
    bills in the {{ category.title }} category.
  </div>
</div>
