<div class="ls-header-container">
  <div class="ls-header">
    <a class="all-categories-link" href="#/">
      <img src="<%= imagePath %>back-100-85.png" />
      All Categories
    </a>
    
    <span class="categories-nav">
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <% _.each(categories, function(c) { %>
        <a class="" href="#/category/<%= c.id %>" title="<%= c.title %>">
          <%= (c.short_title) ? c.short_title : c.title.split(' ')[0] %>
        </a>&nbsp;&nbsp;
      <% }) %>
    </span>
  </div>
</div>