
<div class="osbill-container {{ type }}-bill">
  <h4>
    {{#(!!bill.title)}}
      {{ bill.title }}
    {{/()}}

    {{^(!!bill.title)}}
      {{ bill.bill_id }}
    {{/()}}
  </h4>

  <div class="primary-sponsors">
    <strong>{{ translate('sponsors', 'Primary sponsors') }}</strong>
    <div class="clear-block">
      {{#bill.sponsors}}
        <sponsor sponsor="{{ this }}" type="primary">
      {{/bill.sponsors}}
    </div>
  </div>

  <div class="actions">
    <strong>Actions</strong>
    <div class="actions-inner">
      {{#bill.actions}}
        {{#(!!date)}}
          <div>
            {{ date.format('MMM DD, YYYY') }}:
            {{ action }}
            ({{ translate('chamber', actor) }})
          </div>
        {{/())}}
      {{/bill.actions}}
    </div>
  </div>

  {{#(bill.sponsors && bill.sponsors.length && bill.sponsors.length > 0)}}
    <div class="co-sponsors">
      <strong>{{ translate('sponsors', 'Co-sponsors') }}</strong>
      <div>
        {{#bill.sponsors}}
          <sponsor sponsor="{{ this }}" type="cosponsor" compact="true">
        {{/bill.sponsors}}
      </div>
    </div>
  {{/()}}

  {{#(bill.votes && bill.votes.length && bill.votes.length > 0)}}
    <div class="votes">
      <strong>Votes</strong>
      <div>
        {{#bill.votes}}
          {{ date.format('MMM DD, YYYY') }}
          {{ motion }} {{ (passed) ? 'passed' : 'failed' }}
          {{ yes_count }} Y -
          {{ no_count }} N <br />
        {{/bill.votes}}
      </div>
    </div>
  {{/()}}

  <div class="sources">
    <strong>Sources</strong>
    <div>
      {{#bill.sources}}
        <a href="{{ url }}" target="_blank">
          {{#(!!text)}}
            {{ text }}
          {{/()}}
          {{#(!text)}}
            {{ url }}
          {{/()}}
        </a> <br />
      {{/bill.sources}}
    </div>
  </div>
</div>
