
{{^categories}}
  {{>loading}}
{{/categories}}

<div class="categories-container">
  <ul class="category-list clear-block">
    {{#categories:i}}
      <li class="category-item category-item-{{ i }}">
        <div class="category-inner category-{{ _.cssClass(id) }}">
          <a href="#/category/{{ encodeURI(id) }}">
            {{#image}}
              <img class="category-image" src="{{ imagePath(image) }}" />
            {{/image}}

            <span class="category-item-link">{{ title }}</span>
          </a>

          <div>
            Watching <strong>{{ bills.length }}</strong> bills.
          </div>
        </div>
      </li>
    {{/categories}}
  </ul>
</div>
