
<div class="bill ebill {{^bill.hasBill}}no-bill{{/bill.hasBill}}">
  <div class="bill-status">
    <img
      class="lower {{#bill.bill_type.recent}}passed{{/bill.bill_type.recent}}"
      src="{{ imagePath('RecentChanges.png') }}"
      title="{{#bill.bill_type.recent}}Recently changed{{/bill.bill_type.recent}}
        {{^bill.bill_type.recent}}Not changed recently{{/bill.bill_type.recent}}"
     />

    <img
      class="lower {{#bill.actions.lower}}passed{{/bill.actions.lower}}"
      src="{{ imagePath('PassedHouse.png') }}"
      title="{{#bill.actions.lower}}Passed{{/bill.actions.lower}}
        {{^bill.actions.lower}}Not passed (yet){{/bill.actions.lower}} {{ translate('chamber', 'lower') }}"
     />

    <img
      class="lower {{#bill.actions.upper}}passed{{/bill.actions.upper}}"
      src="{{ imagePath('PassedSenate.png') }}"
      title="{{#bill.actions.upper}}Passed{{/bill.actions.upper}}
        {{^bill.actions.upper}}Not passed (yet){{/bill.actions.upper}} {{ translate('chamber', 'upper') }}"
     />

    {{#options.conferenceBill}}
      <img
        class="conference {{#bill.bill_type.conference}}passed{{/bill.bill_type.conference}}"
        src="{{ imagePath('InConferenceCommittee.png') }}"
        title="{{#bill.bill_type.conference}}Conference bill created{{/bill.bill_type.conference}}
          {{#bill.bill_type.conference}}Conference bill not created (yet){{/bill.bill_type.conference}}"
       />
    {{/options.conferenceBill}}

   <img
     class="signed {{#bill.actions.signed}}passed{{/bill.actions.signed}}"
     src="{{ imagePath('SignedIntoLaw.png') }}"
     title="{{#bill.actions.signed}}Signed into law by the Governor{{/bill.actions.signed}}
       {{#bill.actions.signed}}Not signed into law (yet){{/bill.actions.signed}}"
    />
  </div>

  {{#compact}}
    <h3>
      {{ bill.title }}
      <a class="permalink" title="Permanent link to bill" href="#/bill/{{ encodeURI(bill.bill) }}"></a>
    </h3>
  {{/compact}}
  {{^compact}}
    <h2>{{ bill.title }}</h2>
  {{/compact}}

  {{^bill.hasBill}}
    <div class="latest-action">
      <em>This bill has not been tracked by the legislature yet.</em>
    </div>
  {{/bill.hasBill}}

  {{#bill.newest_action}}
    <div class="latest-action">Last action about {{ date.fromNow() }}: {{ action }}.</div>
  {{/bill.newest_action}}

  <div class="description">
    {{{ bill.description }}}
  </div>

  <div class="ebill-categories">
    <strong>Categories:</strong>
    {{#bill.categories:i}}
      <a href="#/category/{{ id }}">
        {{#image}}
          <img class="category-image" src="{{ imagePath(image) }}" />
        {{/image}}
        {{ title }}
      </a>{{#(i < bill.categories.length - 1)}},{{/()}}
    {{/bill.categories}}
  </div>

  {{#(bill.links && bill.links.length && bill.links.length > 0)}}
    <div class="elinks">
      <strong>In the news</strong>
      <ul class="elinks-list">
        {{#bill.links}}
          <li><a href="{{ url }}">{{ title }}</a></li>
        {{/bill.links}}
      </ul>
    </div>
  {{/()}}


  {{#(compact == true)}}
    <div class="osbills ebill-sponsors clear-block
      {{#bill.bill_conference}}has-conference{{/bill.bill_conference}}
      {{#bill.bill_primary}}has-primary{{/bill.bill_primary}}
      {{#bill.bill_companion}}has-companion{{/bill.bill_companion}}
      ">
      {{#bill.bill_conference}}
        <div class="osbill bill-conference">
          <h4>Conference bill
            {{#sources.0.url}}
              <a href="{{ sources.0.url }}" target="_blank">{{ bill_id }}</a>
            {{/sources.0.url}}
            {{^sources.0.url}} {{ bill_id }} {{/sources.0.url}}
          </h4>
          <strong>{{ translate('sponsors', 'Primary sponsors') }}</strong>
          {{#sponsors}}
            <sponsor sponsor="{{ this }}" type="primary">
          {{/sponsors}}
        </div>
      {{/bill.bill_conference}}

      {{#bill.bill_primary}}
        <div class="osbill bill-primary">
          <h4>
            {{ (options.chamberLabel) ? translate('chamber', chamber) + ' bill' : 'Primary bill' }}
            {{#sources.0.url}}
              <a href="{{ sources.0.url }}" target="_blank">{{ bill_id }}</a>
            {{/sources.0.url}}
            {{^sources.0.url}} {{ bill_id }} {{/sources.0.url}}
          </h4>
          <strong>{{ translate('sponsors', 'Primary sponsors') }}</strong>
          {{#sponsors}}
            <sponsor sponsor="{{ this }}" type="primary">
          {{/sponsors}}
        </div>
      {{/bill.bill_primary}}

      {{#bill.bill_companion}}
        <div class="osbill bill-companion">
          <h4>
            {{ (options.chamberLabel) ? translate('chamber', chamber) + ' bill' : 'Companion bill' }}
            {{#sources.0.url}}
              <a href="{{ sources.0.url }}" target="_blank">{{ bill_id }}</a>
            {{/sources.0.url}}
            {{^sources.0.url}} {{ bill_id }} {{/sources.0.url}}
          </h4>
          <strong>{{ translate('sponsors', 'Primary sponsors') }}</strong>
          {{#sponsors}}
            <sponsor sponsor="{{ this }}" type="primary">
          {{/sponsors}}
        </div>
      {{/bill.bill_companion}}
    </div>

    <div class="details-link">
      <a title="See more details about bill" href="#/bill/{{ encodeURI(bill.bill) }}">More details
        <img src="{{ imagePath('forward-100-85.png') }}" /></a>
    </div>
  {{/()}}


  {{#(compact != true)}}
    {{#(bill.custom_events && bill.custom_events.length && bill.custom_events.length > 0)}}
      <div class="custom-events">
        <strong>Events</strong>
        <ul class="custom-events-inner">
          {{#bill.custom_events}}
            <li><strong>{{ bill_id }} {{ action }}</strong> on  {{ date.format('MMM DD, YYYY') }}: {{ e.description }}</li>
          {{/bill.custom_events}}
        </ul>
      </div>
    {{/()}}

    <div class="osbills clear-block
      {{#bill.bill_conference}}has-conference{{/bill.bill_conference}}
      {{#bill.bill_primary}}has-primary{{/bill.bill_primary}}
      {{#bill.bill_companion}}has-companion{{/bill.bill_companion}}
    ">

      {{#bill.bill_conference}}
        <div class="osbill conference-bill">
          <h3>Conference bill</h3>
          <osbill bill="{{ this }}" type="conference" imagePath="{{ imagePath }}" translate="{{ translate }}" options="{{ options }}">
        </div>
      {{/bill.bill_conference}}

      {{#bill.bill_primary}}
        <div class="osbill primary-bill">
          <h3>{{ (options.chamberLabel) ? translate('chamber', chamber) + ' bill' : 'Primary bill' }}</h3>
          <osbill bill="{{ this }}" type="primary" imagePath="{{ imagePath }}" translate="{{ translate }}" options="{{ options }}">
        </div>
      {{/bill.bill_primary}}

      {{#bill.bill_companion}}
        <div class="osbill companion-bill">
          <h3>{{ (options.chamberLabel) ? translate('chamber', chamber) + ' bill' : 'Companion bill' }}</h3>
          <osbill bill="{{ this }}" type="companion" imagePath="{{ imagePath }}" translate="{{ translate }}" options="{{ options }}">
        </div>
      {{/bill.bill_companion}}
  {{/()}}

</div>
