<% if (!expandable && _.isArray(bill.ecategories) && bill.ecategories.length > 0) { %>
  <% for (var c in bill.ecategories) { %>
    <a href="#/category/<%= encodeURI(bill.ecategories[c].id) %>">
      <%= bill.ecategories[c].title %></a><% if (c < bill.ecategories.length - 1) { %>,<% } %>
  <% } %>
<% } %>

<div class="bill <% if (expandable) { %>is-expandable<% } %>">
  <div class="bill-top">
    <% if (expandable && _.isArray(bill.ecategories) && bill.ecategories.length > 0) { %>
      <div class="bill-categories">
        <% for (var c in bill.ecategories) { %>
          <a href="#/category/<%= encodeURI(bill.ecategories[c].id) %>">
            <%= bill.ecategories[c].title %></a><% if (c < bill.ecategories.length - 1) { %>,<% } %>
        <% } %>
      </div>
    <% } %>
  
    <% if (expandable) { %><h3><% } else { %><h2><% } %>
      <% if (bill.etitle) { %>
        <%= bill.etitle %>
      <% } else { %>
        <%= bill.title %>
      <% } %>
        
      (<%= bill.bill_id %>) 
      <a class="permalink" title="Permanent link to bill" href="#/bill/<%= encodeURI(bill.bill_id) %>"></a>
    <% if (expandable) { %></h3><% } else { %></h2><% } %>
    
    <%= progress %>
    
    <div class="bill-updated">
      Last updated <%= bill.newest_action.date.diff(moment(), 'days') * -1 %> day(s) ago
    </div>
    
    <p class="description"><%= bill.edescription %></p>
    
    <% if (bill.newest_action) { %>
      <p class="latest-action">
        <strong>Latest action</strong>:
        <span class="number">
          <%= bill.newest_action.action %>
          (<%= LT.utils.translate('chamber', bill.newest_action.actor) %>)
           on <%= bill.newest_action.date.format('MMM DD, YYYY') %>
        </span>
      </p>
    <% } %>
    
    <% if (expandable) { %>
      <a href="#" class="bill-expand">Expand</a>
    <% } %>
  </div>
  
  <div class="bill-bottom">
    <strong>Sponsors</strong>
    <div class="sponsors clear-block">
      <% for (var a in bill.sponsors) { %>
        <div class="sponsor" data-leg-id="<%= bill.sponsors[a].leg_id %>" data-sponsor-type="<%= bill.sponsors[a].type %>">
          <%= bill.sponsors[a].name %> (<%= bill.sponsors[a].type %>)
        </div>
      <% } %>
    </div>
    
    <strong>Actions</strong>
    <div class="actions">
      <% for (var a in bill.actions) { %>
        <div>
          <%= bill.actions[a].date.format('MMM DD, YYYY') %>: <%= bill.actions[a].action %>
          (<%= LT.utils.translate('chamber', bill.actions[a].actor) %>)
        </div>
      <% } %>
    </div>
    
    <strong>Sources</strong>
    <div class="sources">
      <% for (var a in bill.sources) { %>
        <a href="<%= bill.sources[a].url %>"><%= bill.sources[a].url %></a> <br />
      <% } %>
    </div>
  </div>
</div>