
<div class="ls-header">
  <a href="#/">All Categories</a>
</div>

<div class="category-container">
  <h2><%= category.title %></h2>
  
  <p><%= category.description %></p>
  
  <% if (_.isArray(category.links) && category.links.length > 0) { %>
    <ul class="e-links">
      <% for (var l in category.links) { %>
        <li><a href="<%= category.links[l].url %>"><%= category.links[l].title %></a></li>
      <% } %>
    </ul>
  <% } %>
  
  <div class="clear-block bills-list">
    <% category.bills.each(function(b) { %>
      <%= templates.ebill({
        bill: b.toJSON(),
        expandable: true,
        templates: templates
      }) %>
    <% }); %>
  </div>
  
  <div class="clear-block total-bill">
    Watching 
    <strong><%= category.bills.length %></strong>
    <% if (typeof category.total_bill_count != 'undefined') { %>
      of <%= category.total_bill_count %>
    <% } %>
    bills in the <%= category.title %> category.
  </div>
</div>