
<div class="legislator">
  <% if (LT.options.legImageProxy) { %>
    <img src="<%= LT.options.legImageProxy %><%= encodeURI(photo_url) %>" />
  <% } else { %>
    <img src="<%= photo_url %>" />
  <% } %>
  
  <div class="legislator-info">
    <%= full_name %><br />
    <% if (typeof district != 'undefined') { %>
      District <%= district %>
    <% } %>
    <% if (typeof party != 'undefined') { %>
      (<%= LT.utils.translate('partyAbbr', party) %>) 
    <% } %> <br />
    <% if (typeof chamber != 'undefined') { %>
      <%= LT.utils.translate('chamber', chamber) %>
    <% } %>
  </div>
</div>