
<div class="bill-progress clear-block">
  <div class="bill-progress-section bill-introduced <% if (action_dates.introduced) { %>completed<% } %>"
    title="Bill introduced<% if (action_dates.introduced) { %> on <%= action_dates.introduced.format('MMM DD') %><% } %>">
  </div>
  
  <div class="bill-progress-section bill-passed-lower <% if (action_dates.passed_lower) { %>completed<% } %>"
    title="Bill passed House<% if (action_dates.passed_lower) { %> on <%= action_dates.passed_lower.format('MMM DD') %><% } %>">
  </div>
  
  <div class="bill-progress-section bill-passed-upper <% if (action_dates.passed_upper) { %>completed<% } %>"
    title="Bill passed Senate<% if (action_dates.passed_upper) { %> on <%= action_dates.passed_upper.format('MMM DD') %><% } %>">
  </div>
  
  <div class="bill-progress-section bill-signed <% if (action_dates.signed) { %>completed<% } %>"
    title="Bill signed<% if (action_dates.signed) { %> on <%= action_dates.signed.format('MMM DD') %><% } %>">
  </div>
</div>