
<a href="#/">All Categories</a>

<div class="category-container">
  <h2><%= title %></h2>
  
  <p><%= description %></p>
  
  <% if (_.isArray(links) && links.length > 0) { %>
    <h3>Latest News</h3>
    <ul>
      <% for (var l in links) { %>
        <li><a href="<%= links[l].url %>"><%= links[l].title %></a></li>
      <% } %>
    </ul>
  <% } %>
  
  
  <h3>Bills</h3>
  <ul class="clear-block bills-list">
    <% bills = bills.toJSON(); for (var b in bills) { %>
      <li>
        <div class="category-inner">
          <h4>
            <a href="#/bill/<%= encodeURI(bills[b].bill_id) %>">
              <% if (bills[b].etitle) { %>
                <%= bills[b].etitle %>
              <% } else { %>
                <%= bills[b].title %>
              <% } %>
            </a>
            (<%= bills[b].bill_id %>)
          </h4>
          
          <p><%= bills[b].edescription %></p>
          
          <strong>Sponsors</strong>
          <p>
            <% for (var a in bills[b].sponsors) { %>
              <%= bills[b].sponsors[a].name %> (<%= bills[b].sponsors[a].type %>) <br />
            <% } %>
          </p>
          
          <strong>Actions</strong>
          <p>
            <% for (var a in bills[b].actions) { %>
              <%= bills[b].actions[a].action %> on <%= bills[b].actions[a].date %> <br />
              <% } %>
          </p>
          
          <strong>Sources</strong>
          <p>
            <% for (var a in bills[b].sources) { %>
              <a href="<%= bills[b].sources[a].url %>"><%= bills[b].sources[a].url %></a> <br />
            <% } %>
          </p>
        </div>
      </li>
    <% } %>
  </ul>
</div>