<% if (!expandable) { %>
  <div class="ls-header">
    <% _.each(bill.categories, function(c, i) { %>
      <a href="#/category/<%= c.get('id') %>">
        <%= c.get('title') %><% if (c.get('image')) { %><img class="category-image" src="<%= LT.options.imagePath %><%= c.get('image') %>" /><% } %></a><% if (i < bill.categories.length - 1) { %>,<% } %>
    <% }) %>
  </div>
<% } %>

<div class="bill ebill <% if (expandable) { %>is-expandable<% } %>">
  <div class="bill-top">
    <div class="bill-status">
      <img class="lower <% if (bill.newest_action && Math.abs(parseInt(bill.newest_action.date.diff(moment(), 'days'))) < LT.options.recentChangeThreshold) { %>passed<% } %>" src="<%= LT.options.imagePath %>RecentChanges.png" title="<% if (bill.newest_action && Math.abs(parseInt(bill.newest_action.date.diff(moment(), 'days'))) < LT.options.recentChangeThreshold) { %>Recently changed<% } %>" />
      
      <img class="lower <% if (bill.actions.lower) { %>passed<% } %>" src="<%= LT.options.imagePath %>PassedHouse.png" title="<% if (bill.actions.lower) { %>Passed House<% } %>" />
      
      <img class="upper <% if (bill.actions.upper) { %>passed<% } %>" src="<%= LT.options.imagePath %>PassedSenate.png" title="<% if (bill.actions.upper) { %>Passed Senate<% } %>" />
      
      <img class="conference <% if (bill.bill_type.conference) { %>passed<% } %>" src="<%= LT.options.imagePath %>InConferenceCommittee.png" title="<% if (bill.bill_type.conference) { %>In conference committee<% } %>" />
      
      <img class="signed <% if (bill.actions.signed) { %>passed<% } %>" src="<%= LT.options.imagePath %>SignedIntoLaw.png" title="<% if (bill.actions.signed) { %>Signed into law by the Governor<% } %>" />
    </div>
    
    <% if (expandable) { %><h3><% } else { %><h2><% } %>
      <%= bill.title %>
      <a class="permalink" title="Permanent link to bill" href="#/bill/<%= encodeURI(bill.bill) %>"></a>
    <% if (expandable) { %></h3><% } else { %></h2><% } %>
    
    <% if (bill.newest_action) { %>
      <div class="latest-action">
        Last action <%= bill.newest_action.date.fromNow() %>.
      </div>
    <% } %>
    
    <p class="description"><%= _.ellipsisText(bill.description, 60) %></p>
    
    <% if (expandable) { %>
      <a href="#" class="bill-expand">More details</a>
      <a href="#/bill/<%= encodeURI(bill.bill) %>" class="bill-details-link">More details</a>
    <% } %>
  </div>
  
  <div class="bill-bottom">
    <% if (_.isArray(bill.links) && bill.links.length > 0) { %>
      <div class="e-links">
        <h4>In the news</h4>
        <ul class="e-links-list">
          <% _.each(bill.links, function(l) { %>
            <li><a href="<%= l.url %>"><%= l.title %></a></li>
          <% }) %>
        </ul>
      </div>
    <% } %>

    <% if (_.isObject(bill.bill_conference)) { %>
      <div class="conference-bill">
        <div class="conference-bill-inner clear-block">
          <%= templates.osbill({
            title: 'Conference Bill',
            bill: bill.bill_conference.toJSON(),
            templates: templates
          }) %>
        </div>
      </div>
      
      <a class="expand-other-bills" href="#">Show other bills</a>
    <% } %>
    
    <div class="clear-block <% if (_.isObject(bill.bill_conference)) { %>has-conference-bill<% } %>">
      <% if (_.isObject(bill.bill_primary)) { %>
        <div class="primary-bill <% if (_.isObject(bill.bill_companion)) { %>with-companion<% } %>">
          <div class="primary-bill-inner clear-block">
            <%= templates.osbill({
              title: 'Primary Bill',
              bill: bill.bill_primary.toJSON(),
              templates: templates
            }) %>
          </div>
        </div>
      <% } %>
      
      <% if (_.isObject(bill.bill_companion)) { %>
        <div class="companion-bill">
          <div class="companion-bill-inner clear-block">
            <%= templates.osbill({
              title: 'Companion Bill',
              bill: bill.bill_companion.toJSON(),
              templates: templates
            }) %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>