<% if (!expandable) { %>
  <div class="ls-header">
    <% _.each(bill.categories, function(c, i) { %>
      <a href="#/category/<%= c.get('id') %>">
        <%= c.get('title') %><% if (c.get('image')) { %><img class="category-image" src="<%= LT.options.imagePath %><%= c.get('image') %>" /><% } %></a><% if (i < bill.categories.length - 1) { %>,<% } %>
    <% }) %>
  </div>
<% } %>

<div class="bill ebill <% if (expandable) { %>is-expandable<% } %>">
  <div class="bill-top">
    <% if (expandable) { %><h3><% } else { %><h2><% } %>
      <%= bill.title %>
      <a class="permalink" title="Permanent link to bill" href="#/bill/<%= encodeURI(bill.bill) %>"></a>
    <% if (expandable) { %></h3><% } else { %></h2><% } %>
    
    <p class="description"><%= bill.description %></p>
    
    <% if (bill.actions.lower || bill.actions.upper || bill.bill_type.conference || bill.actions.signed) { %>
      <div class="bill-status">
        <% if (bill.actions.lower) { %>
          <div class="lower">
            Passed House
          </div>
        <% } %>
        <% if (bill.actions.upper) { %>
          <div class="upper">
            Passed Senate
          </div>
        <% } %>
        <% if (bill.bill_type.conference) { %>
          <div class="conference">
            In conference committee
          </div>
        <% } %>
        <% if (bill.actions.signed) { %>
          <div class="signed">
            Signed by Governor
          </div>
        <% } %>
      </div>
    <% } %>
    
    <% if (expandable) { %>
      <a href="#" class="bill-expand">More details</a>
    <% } %>
  </div>
  
  <div class="bill-bottom">
    <% if (_.isArray(bill.links) && bill.links.length > 0) { %>
      <div class="e-links">
        <h4>In the news</h4>
        <ul class="e-links-list">
          <% for (var l in bill.links) { %>
            <li><a href="<%= bill.links[l].url %>"><%= bill.links[l].title %></a></li>
          <% } %>
        </ul>
      </div>
    <% } %>
  
    <div class="clear-block">
      <% if (_.isObject(bill.bill_primary)) { %>
        <div class="primary-bill <% if (_.isObject(bill.bill_companion)) { %>with-companion<% } %>">
          <div class="primary-bill-inner clear-block">
            <%= templates.osbill({
              title: 'Primary Bill',
              bill: bill.bill_primary.toJSON(),
              templates: templates
            }) %>
          </div>
        </div>
      <% } %>
      
      <% if (_.isObject(bill.bill_companion)) { %>
        <div class="companion-bill">
          <div class="companion-bill-inner clear-block">
            <%= templates.osbill({
              title: 'Companion Bill',
              bill: bill.bill_companion.toJSON(),
              templates: templates
            }) %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>