
<div class="categories-container">
  <% if (options.title) { %>
    <h2><%= options.title %></h2>
  <% } %>

  <ul class="category-list clear-block">
    <% for (var c in categories) { %>
      <li class="category-item category-item-<%= c %>">
        <div class="category-inner category-<%= _.cssClass(categories[c].id) %>">
          <h3>
            <a href="#/category/<%= encodeURI(categories[c].id) %>">
              <%= categories[c].title %>
            </a>
          </h3>
           
          <div>
            Watching 
            <strong><%= categories[c].bills.length %></strong>
            <% if (categories[c].total_bill_count) { %>
              of <%= categories[c].total_bill_count %>
            <% } %>
            bills.
          </div>
        </div>
      </li>
    <% } %>
  </ul>
</div>