<% if (typeof detailed != 'undefined' && detailed)  { %>
  <%= header %>
<% } %>

<div class="osbill">
  <h4>
    <% if (typeof title != 'undefined') { %>
      <%= title %> (<%= bill.bill_id %>)
    <% } else { %>
      <%= bill.bill_id %>
    <% } %>
    <a class="permalink" title="Permanent link to bill" href="#/bill-detail/<%= encodeURI(bill.bill_id) %>"></a>
  </h4>
  
  <% if (typeof detailed != 'undefined' && detailed) { %>
    <p class="description">
      <%= bill.title %>
    </p>
  <% } %>

  <div class="sponsors primary-sponsors">
    <h5>Primary sponsors</h5>
    
    <div class="clear-block">
      <% _.each(bill.sponsors, function(s) { %>
        <% if (s.type === 'primary') { %>
          <div class="sponsor" data-leg-id="<%= s.leg_id %>" data-sponsor-type="<%= s.type %>">
            <%= s.name %> (<%= s.type %>)
          </div>
        <% } %>
      <% }) %>
    </div>
  </div>
  
  <div class="actions">
    <h5><span class="latest-action-label">Latest </span>Actions</h5>
    
    <div class="actions-inner">
      <% _.each(bill.actions, function(a) { %>
        <% if (a.date) { %>
          <div>
            <%= a.date.format('MMM DD, YYYY') %>:  
            <%= a.action %>
            (<%= LT.utils.translate('chamber', a.actor) %>)
          </div>
        <% } %> 
      <% }) %>
    </div>
  </div>

  <% if (bill.sponsors.length > 1) { %>
    <div class="sponsors co-sponsors clear-block">
      <h5>Co-Sponsors</h5>
      
      <div class="co-sponsors-inner clear-block">
        <% _.each(bill.sponsors, function(s) { %>
          <% if (s.type !== 'primary') { %>
            <div class="sponsor" data-leg-id="<%= s.leg_id %>" data-sponsor-type="<%= s.type %>">
              <%= s.name %> (<%= s.type %>)
            </div>
          <% } %>
        <% }) %>
      </div>
    </div>
  <% } %>

  <% if (_.isArray(bill.votes) && bill.votes.length > 0) { %>
    <div class="votes">
      <h5>Votes</h5>
      
      <div class="votes-inner clear-block">
        <% _.each(bill.votes, function(v) { %>
          <%= v.date.format('MMM DD, YYYY') %>:
          <%= v.motion %> <%= (v.passed) ? 'passed' : 'failed' %>:
          <%= v.yes_count %> Y - 
          <%= v.no_count %> N <br />
        <% }) %>
      </div>
    </div>
  <% } %>
  
  <div class="sources">
    <h5>Sources and full text</h5>
    <% _.each(bill.sources, function(s) { %>
      <a href="<%= s.url %>" target="_blank"><%= s.url %></a> <br />
    <% }) %>
  </div>
</div>