
<div class="categories-container">
  <% if (LT.options.title) { %>
    <h2><%= LT.options.title %></h2>
  <% } %>
  
  <% if (typeof LT.app.totalBills != 'undefined') { %>
    <div class="aggregate-counts">
      <span class="aggregate-stat">
        <span class="aggregate-count-label">Bills introduced:</span>
        <span class="aggregate-count-value"><%= _.numberFormatCommas(LT.app.totalBills) %></span>
      </span>
      
      <span class="aggregate-stat">
        <span class="aggregate-count-label">Recently introduced:</span>
        <span class="aggregate-count-value">~<%= _.numberFormatCommas(LT.app.recentCreated) %></span>
      </span>
      
      <span class="aggregate-stat">
        <span class="aggregate-count-label">Recently updated:</span>
        <span class="aggregate-count-value">~<%= _.numberFormatCommas(LT.app.recentUpdated) %></span>
      </span>
    </div>
  <% } %>

  <ul class="category-list clear-block">
    <% for (var c in categories) { %>
      <li class="category-item category-item-<%= c %>">
        <div class="category-inner category-<%= _.cssClass(categories[c].id) %>">
          <% if (categories[c].image) { %>
            <a href="#/category/<%= encodeURI(categories[c].id) %>">
              <img class="category-image" src="<%= LT.options.imagePath %><%= categories[c].image %>" />
            </a>
          <% } %>
           
          <h3>
            <a href="#/category/<%= encodeURI(categories[c].id) %>">
              <%= categories[c].title %>
            </a>
          </h3>
          
          <div>
            Watching 
            <strong><%= categories[c].bills.length %></strong>
            <% if (categories[c].total_bill_count) { %>
              of <%= categories[c].total_bill_count %>
            <% } %>
            bills.
          </div>
        </div>
      </li>
    <% } %>
  </ul>
</div>