<div class="ls-header-container">
  <div class="ls-header">
    <a class="all-categories-link" href="#/">
      <img src="<%= LT.options.imagePath %>back-100-85.png" />
      All Categories
    </a>
  </div>
</div>

<div class="category-container">
  <h2>
    <% if (category.image) { %>
      <img class="category-image" src="<%= LT.options.imagePath %><%= category.image %>" />
    <% } %>
    
    <%= category.title %>
  </h2>
  
  <p><%= category.description %></p>
  
  <% if (_.isArray(category.links) && category.links.length > 0) { %>
    <div class="e-links">
      <h4>In the news</h4>
      
      <ul class="e-links-list">
        <% _.each(category.links, function(l) { %>
          <li><a href="<%= l.url %>"><%= l.title %></a></li>
        <% }) %>
      </ul>
    </div>
  <% } %>
  
  <div class="clear-block bills-list">
    <% category.bills.each(function(b) { %>
      <%= templates.ebill({
        bill: b.toJSON(),
        expandable: true,
        templates: templates
      }) %>
    <% }); %>
  </div>
  
  <div class="clear-block total-bill">
    Watching 
    <strong><%= category.bills.length %></strong>
    <% if (typeof category.total_bill_count != 'undefined') { %>
      of <%= category.total_bill_count %>
    <% } %>
    bills in the <%= category.title %> category.
  </div>
</div>