
<div class="categories-container">
  <% if (LT.options.title) { %>
    <h2><%= LT.options.title %></h2>
  <% } %>
  
  <% if (typeof LT.app.totalBills != 'undefined') { %>
    <div class="aggregate-counts">
      <span class="aggregate-stat">
        <span class="aggregate-count-label">Bills introduced:</span>
        <span class="aggregate-count-value"><%= _.numberFormatCommas(LT.app.totalBills) %></span>
      </span>
      
      <span class="aggregate-stat">
        <span class="aggregate-count-label">Bills signed:</span>
        <span class="aggregate-count-value"><%= _.numberFormatCommas(LT.app.totalBillsSigned) %></span>
      </span>
    </div>
  <% } %>

  <ul class="category-list clear-block">
    <% _.each(categories, function(c, i) { %>
      <li class="category-item category-item-<%= i %>">
        <div class="category-inner category-<%= _.cssClass(c.id) %>">
          <% if (c.image) { %>
            <a href="#/category/<%= encodeURI(c.id) %>">
              <img class="category-image" src="<%= LT.utils.imagePath(c.image) %>" />
            </a>
          <% } %>
           
          <h3>
            <a href="#/category/<%= encodeURI(c.id) %>">
              <%= c.title %>
            </a>
          </h3>
          
          <div>
            Watching 
            <strong><%= c.bills.length %></strong>
            <% if (c.total_bill_count) { %>
              of <%= c.total_bill_count %>
            <% } %>
            bills.
          </div>
        </div>
      </li>
    <% }) %>
  </ul>
</div>