/**
 * Variables
 */

// Fonts
$font-sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;

// Colors
$color-light-gray: #BCBCBC;
$color-medium-gray: #676767;
