/**
 * Main CSS for Legislature Tracker
 */

@import "compass";
@import "_variables.scss";


// Wrap all styles so that we do not clobber other styles
.ls {
  // Reset
  @import "_reset.scss";

  // Container
  margin: 1em auto;
  font-family: $font-sans-serif;
  // Base font-size
  font-size: 16px;


  /**
   * Element styles
   */
  h2 {
    font-size: 2em;
    line-height: 1.25em;
    font-weight: bold;
    margin-bottom: .5em;
  }
  h3 {
    font-size: 1.5em;
    margin-bottom: .5em;
    font-weight: bold;
    margin-bottom: .5em;
  }
  h4 {
    font-size: 1.25em;
    margin: .5em 0;
    font-weight: bold;
  }
  h5 {
    font-size: 1em;
    margin: .5em 0 .25em 0;
    font-weight: 600;
  }

  p,
  .description {
    font-family: Georgia, "Times New Roman", Times,serif;
    margin-bottom: 1em;
  }

  ins {
    text-decoration: none;
  }

  a,
  a:hover,
  a:visited {
    color: #1568A2;
    text-decoration: none;
  }

  a:hover,
  a:visited :hover{
    text-decoration: underline;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  /**
   * General styles
   */
  .clear {
    clear: both;
  }

  .hidden {
    display: none;
  }

  .bspace {
    margin-bottom: 1em;
  }

  .tspace {
    margin-top: 1em;
  }

  // Clear block hack
  .clear-block:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
  }
  .clear-block {
    display:inline-block;
  }
  /*_\*/
  * html .clear-block {
    height:1%;
  }
  .clear-block{
    display:block;
  }
  /* End hide from IE-mac */

  a.permalink {
    font-size: .5em;
    background: transparent image-url('link-16x8-black.png') center right no-repeat;
    height: 8px;
    width: 16px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-left: .5em;
  }

  .number {
    font-family: $font-sans-serif;
  }

  /**
   * Loading styles
   */
  .loading-general {
    width: 100%;
    text-align: center;
    padding: 2em 2em;
    color: #ABABAB;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
  }
  .loading-general span {
    padding: 10px 5px 10px 40px;
    background: transparent image-url('loading.gif') center left no-repeat;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
  }

  /**
   * Headers
   */
  .ls-header-container {
    color: #414141;
    width: 100%;
    margin-bottom: 2em;

    &.menu-off {
      display: none;
    }
  }

  .ls-header {
    border-bottom: 1px solid $color-light-gray;
    padding: 1em 0 .5em 0;
    min-height: 1.5em;

    img {
      max-height: 1em;
      max-width: 1em;
      margin-right: .25em;
    }
  }


  /**
   * Sticky menu
   */
  .stuck {
    position: fixed;
    min-height: 1em;
    z-index: 99;

    &.top {
      background-color: #FFFFFF;
      top: 0;
      left: 0;
      right: 0;
      min-height: 1em;
      border-bottom: 1px solid $color-light-gray;
      padding: 1em 0;
      @include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
    }

    &.container {
      top: 0
    }

    .menu-stick-container {
      max-width: 1170px;
      margin: 0 auto;
      padding: 0 10px;
    }
  }


  /**
   * Common parts
   */
  .elinks {

    ul.elinks-list {
      padding-left: 0;

      li {
        list-style: none;
      }
    }
  }

  /**
   * Sponsors
   */
  .sponsor {

    .sponsor-image {
      width: 4em;
      float: left;
      margin-right: .25em;

      img {
        max-width: 4em;
      }
    }

    .sponsor-info {
      width: 10em;
      float: left;
      font-size: .85em;
    }
  }

  /**
   * Category styles
   */
  .category-image {
    max-height: 1em;
    max-width: 1em;
    margin-left: .5em;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }

  h2 .category-image {
    margin-left: 0;
    margin-right: .25em;
  }

  /**
   * Category list styles
   */
  .categories-container {
    background: transparent image-url('capitol-bg.png') top center no-repeat;
    background-size: 100% 100%;
    min-height: 350px;
    padding-top: 4.5em;

    ul {
      margin: 1em 0 2em 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        width: 25%;
        min-height: 200px;
        float: left;
        text-align: center;

        .category-inner {
          padding: .5em .25em;
          margin: .5em .25em;
        }
      }

      h3 {
        margin-bottom: .25em;
      }

      .category-image {
        max-height: 5.5em;
        max-width: 5.5em;
        opacity: .85;
        filter: alpha(opacity = 85);
        margin: 0 auto;
        display: block;
        zoom: 1;
        *display: block;

        &:hover {
          opacity: 1;
          filter: alpha(opacity = 100);
        }
      }
    }
  }


  /**
   * Single category
   */
  .category-container {

    .bills-list {
      margin-top: 3em;
    }

    .bills-list {

      .bill {
        padding: 2%;
        border: 1px solid #DDDDDD;
        margin-bottom: 2em;

        &.no-bill {
          border: 1px dashed #DDDDDD;
        }
      }
    }

    .total-bill {
      margin-bottom: 2em;
    }
  }


  /**
   * Bill styles
   */
  .bill {

    h3 {
      margin-bottom: 0;
      margin-top: 0;
    }

    .bill-update {
      font-size: .85em;
    }

    .bill-status {
      margin-bottom: 1em;
      text-align: right;
      float: right;

      img {
        max-height: 2em;
        max-width: 2em;
        margin-right: .5em;
        opacity: .25;
        filter: alpha(opacity = 25);

        &.passed {
          opacity: 1;
          filter: alpha(opacity = 100);
        }
      }
    }

    .latest-action {
      color: $color-medium-gray;
      margin-bottom: 1em;
    }

    .description {
      margin-bottom: 1em;
    }

    .ebill-categories {
      margin-bottom: 1em;
    }

    .elinks {
      margin-bottom: 1em;
    }

    .osbills {
      margin-bottom: 1em;

      &.has-conference.has-primary.has-companion .osbill {
        float: left;
        width: 33.33333%;
      }

      &.has-conference.has-primary .osbill,
      &.has-conference.has-companion .osbill,
      &.has-primary.has-companion .osbill {
        float: left;
        width: 50%;
      }

      .osbill-container {
        padding-right: .5em;

        .primary-sponsors,
        .co-sponsors,
        .sources,
        .votes {
          margin-bottom: 1em;
        }

        .actions {
          margin-bottom: 1em;

          .actions-inner {
            font-size: .85em;
            color: $color-medium-gray;
          }
        }
      }
    }

    .details-link {
      text-align: right;

      img {
        max-height: 1em;
        max-width: 1em;
        margin-left: .25em;
      }
    }
  }



  /**
   * Responsive, media query styles styles
   */

  @media screen and (max-width: 942) {
    .ls-header.glued {
      left: 0;
      right: 0;
      width: auto;
      border-left: none;
      border-right: none;
    }
  }

  @media screen and (max-width: 768px) {
    .categories-container {
      background-position: bottom center;
      background-size: 100% auto;
    }

    .ls-header .categories-nav {
      display: none;
    }

    .categories-container .aggregate-stat {
      margin-right: 1em;
    }

    .categories-container .aggregate-counts {
      margin-bottom: 3em;
    }

    .categories-container {
      background-position: bottom center;
      background-size: 100% auto;
      padding-top: 3em;
    }

    .categories-container ul li {
      width: 33.32222222%;
      text-align: center;
    }

    .bill.ebill .osbills.clear-block {
      &.has-conference.has-primary.has-companion {
        .osbill {
          width: 50%;
        }
        .conference-bill {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 620px) {

    .bill.ebill .osbills.clear-block .osbill {
      width: 100%;
    }
  }


  @media screen and (max-width: 520px) {
    .bill .bill-status {
      float: none;
      display: block;
      text-align: left;
      margin-bottom: .5em;
    }
  }


  @media screen and (max-width: 420px) {

    .categories-container .aggregate-counts {
      margin-bottom: 2em;
    }

    .categories-container {
      padding-top: 2em;
    }

    .categories-container ul li {
      width: 50%;
      text-align: center;
    }
  }

  @media screen and (max-width: 375px) {
    .categories-container .aggregate-counts .aggregate-stat {
      display: block;
    }
  }

  @media screen and (max-width: 280px) {

    .categories-container ul li {
      width: 100%;
      text-align: center;
    }
  }

}
